# Игнорируем файлы и папки, связанные с Android Studio и Gradle

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Игнорируем системные файлы
.DS_Store

# Игнорируем директории сборки и другие временные файлы
/build
/captures
.externalNativeBuild
.cxx

# Локальные свойства проекта
local.properties

# Игнорируем файл secrets.txt в папке assets
app/src/main/assets/secrets.txt
